In [3]:
# enter a number in proper form
x= input("enter a number")
try:
    test=int(x)
    print("right")
except:
    print("wrong")

enter a numberl
wrong

In [8]:
# enter a number in proper form(until done)
x=input("enter")
while True:
    try:
        e=int(x)
        print("good munber")
        break
    except:
        print("wrong,try again")
        x=input("_")

enterf
wrong,try again
_e
wrong,try again
_3
good munber

In [8]:
#give the employee 1.5 times the hourly rate for hours worked above 40 hours. adding a test for the form of the input
hours=input("time of work")
paym=input("money by hour")
try:
    tesrh=int(hours)
    testp=int(paym)
except:
    print("wrong input,do again")
    hours=input("time of work")
    paym=input("money by hour")
    
    
hours=int(hours)
paym=int(paym)
if hours<=40:
    sala=hours*paym
    print(sala)
else:
    sala=40*paym+(hours-40)*paym*1.5
    print(sala)

time of work45
money by hour10
475.0

In [9]:
#Write a program which repeatedly reads numbers until the user enters “done”. Once “done” is entered, print out the total, count,
#and average of the numbers. If the user enters anything other than a number, detect their mistake using try and except and print an error
#message and skip to the next number.
total=0
count=0
ave=0

while True:
    x = input("enter a number")
    if x=="done":
        break
    try:
        x=int(x)
    except:
        print("wrong input")
        continue
    total+=x
    count+=1
    

ave=total/count
print("total:",total)
print("count:",count)
print("average:",ave)

enter a number1
enter a numberf
wrong input
enter a number2
enter a number3
enter a number4
enter a number5
enter a numberdone
total: 15
count: 5
average: 3.0

In [9]:
#Write a program which repeatedly reads numbers until the user enters “done”. Once “done” is entered, print out the total, count,
#and average of the numbers. If the user enters anything other than a number, detect their mistake using try and except and print an error
#message and skip to the next number.

tot=0
count=0
while True:
    x=input("num:")
    if x=="done":
        break
    try:
        m=int(x)
        tot+=m
        count+=1
    except:
        print("no! again")
        
print("count:",count)
print("total:",tot)
print("average:",tot/count)

num:e
no! again
num:bf
no! again
num:2
num:3
num:1
num:4
num:5
num:done
count: 5
total: 15
average: 3.0

In [10]:
#输入abc三个数（在一行中），输出其中最大值
a,b,c=map(int,input().split())
print(max(a,b,c))

1 2 3
3

In [12]:
a,b,c=map(int,input().split())
print(max(a,b,c))

3 4 5
5

In [15]:
#取两位小数
num=int(input())
print("%.2f"%num)

30
30.00

In [46]:
#求1+2!+3!+4!+5!
ele=1
total=0

for i in range(1,6):
    ele=ele*i
    while i>1:
        i-=1
        ele=ele*i
    total+=ele
    ele=1     
print(total)

153

In [21]:
#1+2!+3!+4!+5!

tot=0
m=1

for i in range(1,6):
    while i>0:
        m=m*i
        i-=1
    if i==0:
        tot+=m
        m=1
        continue
print(tot)

153

In [39]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [50]:
#输出一张摄氏一华氏温度转换表，摄氏温度的取值区间是[-100oC，150oC ]，温度间隔5。
#要求定义和调用函数 ctof(c),将摄氏温度C转换成华氏温度F，计算公式：
# F = 32 + C* 9/5.例如: c=0->f=32   c=5->f=41
def ctof(c):
    f = 32+c*9/5
    return int(f)
c= -100
while c<=150:
    print("c=",c,"->f=",ctof(c))
    c+=5

c= -100 ->f= -148
c= -95 ->f= -139
c= -90 ->f= -130
c= -85 ->f= -121
c= -80 ->f= -112
c= -75 ->f= -103
c= -70 ->f= -94
c= -65 ->f= -85
c= -60 ->f= -76
c= -55 ->f= -67
c= -50 ->f= -58
c= -45 ->f= -49
c= -40 ->f= -40
c= -35 ->f= -31
c= -30 ->f= -22
c= -25 ->f= -13
c= -20 ->f= -4
c= -15 ->f= 5
c= -10 ->f= 14
c= -5 ->f= 23
c= 0 ->f= 32
c= 5 ->f= 41
c= 10 ->f= 50
c= 15 ->f= 59
c= 20 ->f= 68
c= 25 ->f= 77
c= 30 ->f= 86
c= 35 ->f= 95
c= 40 ->f= 104
c= 45 ->f= 113
c= 50 ->f= 122
c= 55 ->f= 131
c= 60 ->f= 140
c= 65 ->f= 149
c= 70 ->f= 158
c= 75 ->f= 167
c= 80 ->f= 176
c= 85 ->f= 185
c= 90 ->f= 194
c= 95 ->f= 203
c= 100 ->f= 212
c= 105 ->f= 221
c= 110 ->f= 230
c= 115 ->f= 239
c= 120 ->f= 248
c= 125 ->f= 257
c= 130 ->f= 266
c= 135 ->f= 275
c= 140 ->f= 284
c= 145 ->f= 293
c= 150 ->f= 302

In [53]:
# 3个小朋友围坐成一圈,老师给每个小朋友随机发偶数个糖果，然后进行下面的游戏：
#每个小朋友都把自己的糖果分一半给左手边的孩子,一轮分糖后拥有奇数颗糖的孩子由老师补给1个糖果,
#直到所有小朋友的糖果数都相同为止。在已知的初始糖果情形下，老师一共需要补发多少个糖果?

n1,n2,n3=map(int,input().split())
count=0
while True:
    haf1=n1/2
    haf2=n2/2
    haf3=n3/2
    n1=n1-haf1+haf3
    n2=n2-haf2+haf1
    n3=n3-haf3+haf2
    if n1==n2 and n2==n3:
        break
    if n1%2!=0:
        n1+=1
        count+=1
    if n2%2!=0:
        n2+=1
        count+=1
    if n3%2!=0:
        n3+=1
        count+=1
print(count)

2 2 4
4

In [54]:
#求1+2!+3!+4!+5!  (153)
ele=1
total=0
for i in range(1,6):
    ele=ele*i
    while i>1:
        i-=1
        ele=ele*i
    total+=ele
    ele=1
print(total)

153

In [55]:
#list_first = [1,2,3,4,5,6,7,8,9] list_second = [2,4,8,10,12,20] 找到两个列表中相同的数据
list_first = [1,2,3,4,5,6,7,8,9]
list_second = [2,4,8,10,12,20]
for i in list_first:
    for m in list_second:
        if m == i:
            print(m)

2
4
8

In [4]:
list_first = [1,2,3,4,5,6,7,8,9]
list_second = [2,4,8,10,12,20]
for i in list_first:
    for n in list_second:
        if n == i:
            print(n)

2
4
8

In [57]:
#index = [1,32,77,121,150] 对于小于100的数，把它每次加上10，直到大于100后再输出
index = [1,32,77,121,150]
for i in index:
    while i<100:
        i+=10
    print(i)

101
102
107
121
150

In [28]:
#index = [1,32,77,121,150] 对于小于100的数，把它每次加上10，直到大于100后再输出
index=[1,32,77,121,250]
for i in index:
    while i<=100:
        i+=10
    print(i)

101
102
107
121
250

In [62]:
#求Sn=a+aa+aaa+…+aa…aaa（有n个a）之值，其中a是一个数字，为2。 
#例如，n=5时=2+22+222+2222+22222，n由键盘输入
n=int(input("n= "))
nori=n
ele=0
total=0
m=1
while True:
    ele=(10**(n-1))*2*m
    total+=ele
    m+=1
    n-=1
    ele=0
    if n==0:
        break
print(total)

n= 5
24690

In [63]:
#输入a，b，c，求1+2+...+a + 1^2+2^2+...+b^2 (平方和)+ 1/1+1/2+...+1/c，保留2位小数
a,b,c=map(int,input().split())
elea=0
eleb=0
elec=0
for i in range(1,a+1):
    elea+=i
for i in range(1,b+1):
    eleb+=i**2
for i in range(1,c+1):
    elec+=1/i
tot=elea+eleb+elec
print("%.2f"%tot)

100 50 10
47977.93

In [70]:
#打印出所有"水仙花数"，所谓"水仙花数"是指一个三位数，其各位数字立方和等于该本身
#例如：153是一个水仙花数，因为153=1^3+5^3+3^3。 
for i in range(100,1000):
    ge=i%10
    bai=i//100
    shi=(i-ge-bai*100)/10
    if i==ge**3+bai**3+shi**3:
        print(i)

153
370
371
407

In [75]:
#猴子第一天摘下若干个桃子，当即吃了一半，还不过瘾，又多吃了一个,以后每天早上都吃了前一天剩下的一半零一个
#到第N天早上想再吃时，见只剩下一个桃子了。求第一天共摘多少桃子
n=int(input("n="))
fin = 1
while n>1:
    lastd = 2*(fin+1)
    fin = lastd
    n-=1
print(lastd)

n=2
4

In [83]:
#用简单素数筛选法求N以内的素数
n=100
for i in range(2,n):
    for m in range(2,i):
        if i%m == 0:
            break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [1]:
#用简单素数筛选法求N以内的素数
n=100
for i in range(2,n):
    for m in range(2,i):
        if i%m == 0:
            break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [2]:
#打印出所有"水仙花数"，所谓"水仙花数"是指一个三位数，其各位数字立方和等于该本身
#例如：153是一个水仙花数，因为153=1^3+5^3+3^3。 
for i in range(100,1000):
    stri=str(i)
    if int(stri[0])**3+int(stri[1])**3+int(stri[2])**3 == i:
        print(i)

153
370
371
407

In [3]:
#求1+2!+3!+4!+5!  (153)
ele=1
total=0
for i in range(1,6):
    while i>1:
        ele=ele*i
        i-=1
    total+=ele
    ele=1
print(total)

153

In [3]:
type(range(10))

range

In [9]:
names=["a","b","c","d"]
for i in enumerate(names):
    print(i)
print(type(i))
    
for i in names:
    print(names.index(i),i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
<class 'tuple'>
0 a
1 b
2 c
3 d

In [17]:
names=["a","b","c","d"]
pos=[1,2,3,4]
list(zip(names,pos))

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [18]:
age_list=[20,53,11,85,34]
count=0
tot=0
for i in age_list:
    count+=1
    tot+=i
ave=tot/count
print(ave)

40.6

In [24]:
num=[38,12,10,33,14]
for i in num:
    if i%2 ==1:
        print("odd")
        print(i)
        break
    elif i==10:
        continue
        print(i)

odd
33

In [26]:
newli=[i for i in num if i>=12]
print(newli)

[38, 12, 33, 14]

In [28]:
words=["Good","MoRning"]
lisw=[word.lower() for word in words]
lisw

['good', 'morning']